html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #000;
}

#coordDisplay {
	position: fixed;
	top: 10px;
	right: 10px;
	background: rgba(0, 0, 0, 0.2);
	color: white;
	padding: 1px;
	font-family: monospace;
	font-size: 14px;
	pointer-events: none;
	z-index: 1000;
}

#scene {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.scene-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.scene-layer img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
	pointer-events: none;
}

.door,
.object {
	position: absolute;
	background-color: rgba(120, 150, 110, 0.1);
	box-shadow: none;
	cursor: pointer;
	z-index: 2;
	transition: background-color 0.2s ease;
}

.door:hover,
.object:hover {
	background-color: rgba(12, 15, 11, 0.1);
}

.exit {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 50px;
	background: url('assets/icons/fleche-sortie.png') no-repeat center center;
	background-size: contain;
	cursor: pointer;
	z-index: 3;
	transition: filter width 0.2s ease;
}

.exit:hover {
	filter: brightness(0.7);
	width: 52px;
}

.scene-layer.active {
	display: block;
}

#letter-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

#letter-backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	cursor: pointer;
}

#letter-content {
	position: relative;
	background: rgba(255, 255, 216, 1);
	width: auto;
	max-width: 50vw;
	max-height: 70vh;
	padding: 40px;
	color: #2c1c0f;
	font-family: 'Courier New', monospace;
	font-size: 14px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
	cursor: default;
	pointer-events: auto;
	transform-origin: center center;
	overflow-y: auto;
	overflow-x: hidden;
	pointer-events: none;
}

#book-overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	pointer-events: auto;
}

#book-backdrop {
	position: absolute;
	inset: 0;
}

#book-window {
	position: relative;
	background: #fff;
	padding: 10px 20px;
	box-shadow: 0 0 20px black;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform-origin: center center;
	width: auto;
	max-width: 75vw;
	max-height: 70vh;
}

#book-pages {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-wrap: nowrap;
	pointer-events: none;
}

.book-page {
	width: 297px;
	height: 420px;
	padding: 10px;
	background: transparent;
	box-sizing: border-box;
	object-fit: contain;
	overflow: hidden;
}

#book-controls {
	margin-top: 10px;
	display: flex;
	gap: 10px;
}

.book-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	border: none;
	background-color: transparent;
	color: #000;
	font-size: 40px;
	font-weight: bold;
	cursor: pointer;
	z-index: 10;
	transition: color 0.2s ease;
}

.book-arrow:hover {
	color: #444;
}

#prev-page.book-arrow {
	left: -30px;
}

#next-page.book-arrow {
	right: -30px;
}
